version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"

  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "daily"
    labels: ["dependencies"]
    open-pull-requests-limit: 5
    reviewers: ["khluu", "simon-mo"]
    allow:
      - dependency-type: "all"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-patch"]
    groups:
      minor-update:
        applies-to: version-updates
        update-types: ["minor"]