.app {
  margin: 30px auto 50px auto;
  width: 700px;
}

.input,
.span,
.select {
  display: inline-block;
  width: 98%;
  padding: 4px 12px 4px 0;
  margin-bottom: 1px;
  border: 1px dotted transparent;
  transition: background 0.1s ease-in-out, border-color 0.2s ease-in-out;
}

.input,
.select {
  &:hover,
  &:focus {
    background: $color-yellow;
  }

  &:focus {
    border-color: $color-cyan;
  }

  &.white {
    &:hover,
    &:focus {
      color: inherit;
    }
  }
}

.invoice-wrapper {
  position: relative;
  background: #fff;
  padding: 40px 35px;
  box-shadow: 0 0 17px 0 rgba(16, 40, 73, 0.09);
}

.download-pdf {
  top: 100px;
  margin-left: -110px;
  width: 40px;
  height: 40px;
  transition: opacity .2s ease-in-out;
  &.loading {
    opacity: 0.3;
  }

  a {
    display: block;
    position: relative;
    left: 1656%;
    width: 100%;
    height: 100%;
    z-index: 100000;
    bottom: 50%;

  }

  &:hover{
    cursor: pointer;
  }
}

.image {
  position: relative;
  display: inline-block;
}

.image__file {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.image__upload {
  cursor: pointer;
  font-size: 12px;
  color: $placeholder-color;
  background-color: $color-gray;
  border: 2px dashed $placeholder-color;
  display: block;
  width: 100px;
  height: 20px;
  padding: 0;
  outline: none;
  transition: height 0.2s, font-size 0.2s;

  &:focus,
  &:hover {
    height: 100px;
    font-size: 14px;
  }
}

.image__img {
  display: block;
}

.image__change {
  cursor: pointer;
  font-size: 14px;
  color: $placeholder-color;
  background-color: $color-gray;
  border: 2px dashed $placeholder-color;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.2s;

  &:hover,
  &:focus {
    opacity: 0.95;
  }
}

.image__edit,
.image__remove {
  background: #999 no-repeat center center;
  background-size: 10px 10px;
  border: 0;
  border-radius: 50%;
  padding: 0;
  position: absolute;
  width: 20px;
  height: 20px;
  top: -10px;
  text-indent: -9999em;
  opacity: 0;
  transition: opacity 0.2s, background-color 0.2s;

  &:hover,
  &:focus {
    background-color: #666;
  }

  .image:hover &,
  .image:focus-within & {
    opacity: 1;
  }
}

.image__edit {
  background-image: url('../images/resize.svg');
  right: 20px;
}

.image__remove {
  background-image: url('../images/remove.svg');
  right: -10px;
}

.image__width-wrapper {
  background-color: $color-white;
  padding: 10px 20px 25px;
  position: absolute;
  width: 270px;
  top: -70px;
  left: 0;
  border-radius: 4px;
  box-shadow: 2px 1px 6px rgba(0, 0, 0, 0.15);
}

.category-modal {
  max-width: 400px;
  margin-left: 0.5rem;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h2 {
  color: #333;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.category-list {
  display: flex;
  flex-direction: column;
}

.category-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

input {
  margin-right: 10px;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background-color: #0056b3;
}

.hidden {
  display: none;
}

.item-modal {
  max-width: 400px;
  margin-left: 0.5rem;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h2 {
  color: #333;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.item-inputs {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

input,
select,
button {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.item-list {
  list-style: none;
  padding: 0;
}

.item-list li {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f7f7f7;
}

.item-list li:hover {
  background-color: #e0e0e0;
}

.done-button{
  position: relative;
  /* bottom: 90%; */
  left: 85%;
  background-color: green;
}

.delete-button{
  float: right;
    padding: 2px;
    margin-bottom: 5px;
    font-size: 0.8rem;
    background-color: red;
    color: #fff;
}

.suggestions {
  position: absolute;
  border: 1px solid #ccc;
  background-color: white;
  max-height: 100px;
  overflow-y: auto;
}

.suggestions div {
  padding: 5px;
  cursor: pointer;
}

.suggestions div:hover {
  background-color: #eee;
}

.autocomplete-dropdown {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.autocomplete-dropdown-item {
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.autocomplete-dropdown-item:hover {
  background-color: #f0f0f0;
}

.invoice-add-items{
  display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    right: 5%;
}